In [5]:

#pip install mysql-connector-python
import string
import random
import time
import mysql.connector
from mysql.connector import Error
n_register = 10

In [2]:
trys = 3
print("starting insert " )
print("dealing with " + str(n_register))

for x in range(0, trys):
    print (x)

starting insert
dealing with 10
0
1
2

In [1]:
#teste de insert #10, 100, 1000, 10000,

import string
import random
import time
import mysql.connector
from mysql.connector import Error
import pandas as pd
n_register = 10000

execute_query = True;
print_query = False;
print_data=False
start = 0
end = 0

rounds = 1
print("starting sql insert with "+ str(rounds) + " rounds")
print("dealing with " + str(n_register))

for r in range(0, rounds):
    

    


    try:
        connection = mysql.connector.connect(host='10.158.0.2',
                                             port='6033',
                                             database='projeto',
                                             user='root',
                                             password='',
                                             charset='utf8')
        if connection.is_connected():
            db_Info = connection.get_server_info()

            db_cursor = connection.cursor()

            if(print_data):
                print("beforte insert...")
                db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
                table_rows = db_cursor.fetchall()
                df = pd.DataFrame(table_rows)
                print(df)

            start = time.time()
            for x in range(0, n_register):
                codigo = 'id_' + str(x+1).zfill(8)
                co_ncm = str(random.randint(10, 1000)).zfill(8)
                co_unid = str(random.randint(10, 1000))
                co_pais = str(random.randint(10, 999))
                sg_uf_ncm = (random.choice(string.ascii_letters) + random.choice(string.ascii_letters)).upper()
                co_via = str(random.randint(10, 1000))
                co_urf = str(random.randint(10, 1000))
                qt_estat = str(random.uniform(10.0, 10000.0))
                kg_liquido = str(random.uniform(10.0, 10000.0))
                vl_fob = str(random.uniform(10.0, 10000.0))
                if x % 2 == 0:
                    fluxo = "EXP"
                else:
                    fluxo = "IMP"

                #sql  = ' INSERT INTO projeto.base_dados (codigo, co_ano, co_mes, co_ncm, co_unid, co_pais, sg_uf_ncm, co_via, co_urf, qt_estat, kg_liquido, vl_fob, fluxo) \
                #         VALUES ("'+codigo+'",2020,11,"'+co_ncm+'",'+co_unid+',"'+co_pais+'","'+sg_uf_ncm+'",'+co_via+','+co_urf+','+qt_estat+','+kg_liquido+','+vl_fob+',"'+fluxo+'") '
                
                sql  = ' INSERT INTO projeto.base_dados (codigo, co_ano, co_mes, co_ncm, co_unid, co_pais, sg_uf_ncm, co_via, co_urf, qt_estat, kg_liquido, vl_fob, fluxo) \
                         VALUES ("'+codigo+'",2020,11,"'+co_ncm+'",'+co_unid+',"'+co_pais+'","'+sg_uf_ncm+'",'+co_via+','+co_urf+','+qt_estat+','+kg_liquido+','+vl_fob+',"'+fluxo+'") '

                if (print_query): print(sql)
            
                if (execute_query): db_cursor.execute(sql)    
                    
            end = time.time()

            if(print_data):
                print("after insert...")
                db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
                table_rows = db_cursor.fetchall()
                df = pd.DataFrame(table_rows)
                print(df)


            connection.commit()
            connection.close()

    except Error as e:
        print("Error while connecting to MySQL", e)
    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            print("MySQL connection is closed")




    
    print(">>>execution time round \( " + str(r) + "\): " + str(end - start) )

starting sql insert with 1 rounds
dealing with 10000
>>>execution time round \( 0\): 1722.7088239192963

In [118]:
#teste de insert

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error
n_register = 10 

execute_query = True;
print_query = False;
print_data=True

start = time.time()
print("starting insert " )

print("dealing with " + str(n_register))

try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        
        if(print_data):
            print("beforte insert...")
            db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)
        
        
        for x in range(0, n_register):
            codigo = 'id_' + str(x+1).zfill(8)
            co_ncm = str(random.randint(10, 1000)).zfill(8)
            co_unid = str(random.randint(10, 1000))
            co_pais = str(random.randint(10, 1000))
            sg_uf_ncm = (random.choice(string.ascii_letters) + random.choice(string.ascii_letters)).upper()
            co_via = str(random.randint(10, 1000))
            co_urf = str(random.randint(10, 1000))
            qt_estat = str(random.uniform(10.0, 10000.0))
            kg_liquido = str(random.uniform(10.0, 10000.0))
            vl_fob = str(random.uniform(10.0, 10000.0))
            if x % 2 == 0:
                fluxo = "EXP"
            else:
                fluxo = "IMP"

            sql  = ' INSERT INTO projeto.base_dados (codigo, co_ano, co_mes, co_ncm, co_unid, co_pais, sg_uf_ncm, co_via, co_urf, qt_estat, kg_liquido, vl_fob, fluxo) \
                     VALUES ("'+codigo+'",2020,11,"'+co_ncm+'",'+co_unid+',"'+co_pais+'","'+sg_uf_ncm+'",'+co_via+','+co_urf+','+qt_estat+','+kg_liquido+','+vl_fob+',"'+fluxo+'") '
            
            if (print_query): print(sql)
                
            if (execute_query): db_cursor.execute(sql)
        
        if(print_data):
            print("after insert...")
            db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)

                
        connection.commit()
        connection.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")




end = time.time()
print(">>>execution time: " + str(end - start) )

starting insert
dealing with 10
beforte insert...
Empty DataFrame
Columns: []
Index: []
after insert...
            0     1   2         3    4    5   6    7    8            9   \
0  id_00000001  2020  11  00000989  134  822  US  756  280  4371.102222
1  id_00000002  2020  11  00000841  970  909  SX  112  952  1006.387609
2  id_00000003  2020  11  00000751   96  955  QX  544   17  1306.968918
3  id_00000004  2020  11  00000495  505  153  DJ  436  613  3961.711264
4  id_00000005  2020  11  00000329  427  163  VT  718  605  4165.393809
5  id_00000006  2020  11  00000596  281  115  HG  270  245  6411.395140
6  id_00000007  2020  11  00000941  241  633  IP  215  313  5850.297447
7  id_00000008  2020  11  00000747  310  371  QN  688   40  5374.655951
8  id_00000009  2020  11  00000058  212  514  YH   38  436  8377.554540
9  id_00000010  2020  11  00000449  856  141  RE  763  279  5755.236582

            10           11   12
0  6263.409360  8814.438468  EXP
1  1747.069250  3169.818500  IMP
2  2260.726549  6750.295723  EXP
3  1771.574992  8451.700744  IMP
4  6319.830162   825.442429  EXP
5  4007.535753  8243.615316  IMP
6  8462.900162  9691.296406  EXP
7  1055.991695  3654.835071  IMP
8  9502.879901  2549.128332  EXP
9  4426.244718  9898.093410  IMP
>>>execution time: 3.644789934158325

In [4]:
#teste de update

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error
n_register = 10000

execute_query = True;
print_query = False;
print_data=False
start = 0


print("starting sql update " )

print("dealing with " + str(n_register))

try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        
        if(print_data):
            print("beforte update...")
            db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)
        
        start = time.time()
        for x in range(0, n_register):
            codigo = 'id_' + str(x+1).zfill(8)
            co_ncm = str(random.randint(10, 1000)).zfill(8)
            co_unid = str(random.randint(10, 1000))
            co_pais = str(random.randint(10, 999))
            sg_uf_ncm = (random.choice(string.ascii_letters) + random.choice(string.ascii_letters)).upper()
            co_via = str(random.randint(10, 1000))
            co_urf = str(random.randint(10, 1000))
            qt_estat = str(random.uniform(10.0, 10000.0))
            kg_liquido = str(random.uniform(10.0, 10000.0))
            vl_fob = str(random.uniform(10.0, 10000.0))
            if x % 2 == 0:
                fluxo = "EXP"
            else:
                fluxo = "IMP"
                
    
            sql =  ' UPDATE projeto.base_dados \
                     SET co_ncm = "'+co_ncm+'", \
                         co_unid = '+co_unid+', \
                         co_pais = "'+co_pais+'", \
                         sg_uf_ncm = "'+sg_uf_ncm+'", \
                         co_via = '+co_via+', \
                         co_urf = '+co_urf+', \
                         qt_estat = '+qt_estat+', \
                         kg_liquido = '+kg_liquido+', \
                         vl_fob = '+vl_fob+', \
                         fluxo = "'+fluxo+'"  \
                     WHERE  co_ano = 2020 and co_mes = 11  and codigo = "' + codigo +'"'            

            if (print_query): print(sql)
                
            if (execute_query): db_cursor.execute(sql)
        
        
        end = time.time()
        print(">>>execution time: " + str(end - start) )

        if(print_data):
            print("after update...")
            db_cursor.execute('select * from projeto.base_limpa WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)

                
        connection.commit()
        connection.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

starting sql update
dealing with 10000
>>>execution time: 2125.6945185661316

In [5]:
#teste de delete

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error
n_register = 10000

execute_query = True
print_query = False
print_data = False

start = 0

print("starting delete " )

print("dealing with " + str(n_register))

try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        
        if(print_data):
            print("before delete...")
            db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)
        
        start = time.time()
        for x in range(0, n_register):
            codigo = 'id_' + str(x+1).zfill(8)

        
            sql =  ' DELETE FROM projeto.base_dados \
                     WHERE co_ano = 2020 and co_mes = 11 and codigo = "' + codigo + '"'
            

        
            #sql =  ' DELETE FROM projeto.base_limpa \
            #         WHERE co_ano = 2020 and co_mes = 11 '
            
            if (print_query): print(sql)
                
            if (execute_query): db_cursor.execute(sql)
        
        end = time.time()
        print(">>>execution time: " + str(end - start) )
        
        if(print_data):
            print("after delete...")
            db_cursor.execute('select * from projeto.base_dados WHERE co_ano = 2020 and co_mes = 11')
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)

                
        connection.commit()
        connection.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

starting delete
dealing with 10000
>>>execution time: 2079.920286178589

In [56]:
random.randint(1, 12)

10

In [60]:
#teste de select - randomizado o co_ano (1997-2020) , co_mes (1-12) e fluxo (EXP ou IMP)

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error
n_register = 10

execute_query = False;
print_query = True;
print_data=False

start = time.time()
print("starting select " )

print("dealing with " + str(n_register))

try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        

        
        for x in range(0, n_register):
            co_ano = str(random.randint(1997, 2020))
            co_mes = str(random.randint(1, 12))
            if random.randint(1,10) % 2 == 0:
                fluxo = "EXP"
            else:
                fluxo = "IMP"

            sql = 'SELECT * \
                   FROM projeto.base_dados \
                   WHERE co_ano = '+co_ano+' and \
                         co_mes = '+co_mes+' and \
                         fluxo = "'+fluxo+'" \
                   ORDER BY vl_fob'
            
            
            if (print_query): print(sql)
                
            if (execute_query):
                db_cursor.execute(sql)
                table_rows = db_cursor.fetchall()
                df = pd.DataFrame(table_rows)
                print(df)

                
        connection.commit()
        connection.close()
        db_cursor.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        db_cursor.close()
        connection.close()
        print("MySQL connection is closed")

end = time.time()
print(">>>execution time: " + str(end - start) )

starting select
dealing with 10
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 1997 and                          co_mes = 1 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2019 and                          co_mes = 4 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 1999 and                          co_mes = 5 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2012 and                          co_mes = 8 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2002 and                          co_mes = 8 and                          fluxo = "EXP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2019 and                          co_mes = 11 and                          fluxo = "EXP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2008 and                          co_mes = 7 and                          fluxo = "EXP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2018 and                          co_mes = 1 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2016 and                          co_mes = 6 and                          fluxo = "IMP"                    ORDER BY vl_fob
SELECT *                    FROM projeto.base_dados                    WHERE co_ano = 2005 and                          co_mes = 2 and                          fluxo = "EXP"                    ORDER BY vl_fob
>>>execution time: 1.5507760047912598

In [6]:
#Monta série histórica mensal da balança comercial (resultado da diferença entre o valor das exportações e o das importações)

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error

execute_query = True
print_query = False
print_data=False

print("starting sql select " )
print("série histórica mensal da balança comercial (resultado da diferença entre o valor das exportações e o das importações)" )

start = 0


try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        

        sql = 'SELECT CO_ANO,CO_MES, SUM(VALOR) AS SALDO\
               FROM (SELECT CO_ANO, CO_MES, CASE WHEN (FLUXO="EXP") THEN VL_FOB ELSE -VL_FOB END AS VALOR\
               FROM projeto.base_dados) AS DADOS\
               GROUP BY CO_ANO, CO_MES'\


        
        if (print_query): print(sql)
        
        start = time.time()
        if (execute_query):
            db_cursor.execute(sql)
            end = time.time()
            print(">>>execution time: " + str(end - start) )
            if(print_data):                
                table_rows = db_cursor.fetchall()
                df = pd.DataFrame(table_rows)
                print(df)

 
        connection.close()
        db_cursor.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        db_cursor.close()
        connection.close()
        print("MySQL connection is closed")

starting sql select
série histórica mensal da balança comercial (resultado da diferença entre o valor das exportações e o das importações)
>>>execution time: 1126.14364361763

In [4]:
# exportações de EUA, China e Argentina e calcula a participação de cada uma delas nas exportações totais

import string
import random
import time
import pandas as pd
import mysql.connector
from mysql.connector import Error


execute_query = True
print_query = False
print_data=False

start = 0

print("starting sql select " )
print(" exportações de EUA, China e Argentina e calcula a participação de cada uma delas nas exportações totais")


try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        


        
        sql = 'SELECT *, \
                VL_FOB/EXP_TOTAL AS PART \
                FROM (SELECT *, \
                SUM(VL_FOB) OVER(PARTITION BY CO_ANO, CO_MES) AS EXP_TOTAL \
                FROM (SELECT CO_ANO, CO_MES, CO_PAIS, \
                 SUM(VL_FOB) AS VL_FOB \
                FROM projeto.base_dados \
                WHERE FLUXO = "EXP" \
                GROUP BY CO_ANO, CO_MES, CO_PAIS) as T) as M \
                WHERE CO_PAIS IN (249,160,63)'

     #   sql = ' SELECT *, \
     #       PAIS.EXP_MES_PAIS/TOTAL.EXP_MES AS PARTICIPACAO \
     #   FROM \
     #       (SELECT CO_ANO, CO_MES, CO_PAIS, \
     #               SUM(VL_FOB) AS EXP_MES_PAIS\
     #        FROM projeto.base_dados \
     #        WHERE FLUXO = "EXP" AND \
     #              CO_PAIS IN (249,160,63) \
     #        GROUP BY CO_ANO, CO_MES, CO_PAIS) AS PAIS, \
     #       (SELECT CO_ANO, CO_MES, SUM(VL_FOB) AS EXP_MES \
     #        FROM projeto.base_dados \
     #        WHERE FLUXO = "EXP" \
     #        GROUP BY CO_ANO, CO_MES) AS TOTAL \
     #   WHERE PAIS.CO_ANO = TOTAL.CO_ANO AND \
     #         PAIS.CO_MES = TOTAL.CO_MES '


        if (print_query): print(sql)
            
        start = time.time()
        
        if (execute_query):
            db_cursor.execute(sql)
            end = time.time()
            print(">>>execution time: " + str(end - start) )
            
            if(print_data):
                table_rows = db_cursor.fetchall()
                df = pd.DataFrame(table_rows)
                print(df)

 
        connection.close()
        db_cursor.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        db_cursor.close()
        connection.close()
        print("MySQL connection is closed")

starting sql select
 exportações de EUA, China e Argentina e calcula a participação de cada uma delas nas exportações totais
>>>execution time: 147.5491123199463

In [74]:
#teste 

import string
import random
import time
import mysql.connector
from mysql.connector import Error


execute_query = True
print_query = True
print_data=False

start = time.time()
print("starting select " )



try:
    connection = mysql.connector.connect(host='10.158.0.2',
                                         port='6033',
                                         database='projeto',
                                         user='root',
                                         password='',
                                         charset='utf8')
    if connection.is_connected():
        db_Info = connection.get_server_info()

        db_cursor = connection.cursor()
        

        sql = 'SELECT CO_ANO, \
                CO_MES, \
                CASE WHEN (FLUXO="EXP") THEN VL_FOB ELSE -VL_FOB END AS VALOR \
                FROM projeto.base_dados LIMIT 10'
        
        sql = 'SELECT CO_ANO,CO_MES, SUM (VALOR) AS SALDO \
                FROM (SELECT CO_ANO, CO_MES, CASE WHEN (FLUXO="EXP") THEN VL_FOB ELSE -VL_FOB END AS VALOR \
                FROM projeto.base_dados) AS DADOS \
                GROUP BY CO_ANO, CO_MES'
        
        sql = 'SELECT CO_ANO,CO_MES, SUM(VALOR) AS SALDO \
                FROM (SELECT CO_ANO, CO_MES, CASE WHEN (FLUXO="EXP") THEN VL_FOB ELSE -VL_FOB END AS VALOR \
                      FROM projeto.base_dados) AS DADOS \
                GROUP BY CO_ANO, CO_MES LIMIT 10'
        
        sql = 'SELECT *, \
                VL_FOB/EXP_TOTAL AS PART \
                FROM (SELECT *, \
                SUM(VL_FOB) OVER(PARTITION BY CO_ANO, CO_MES) AS EXP_TOTAL \
                FROM (SELECT CO_ANO, CO_MES, CO_PAIS, \
                 SUM(VL_FOB) AS VL_FOB \
                FROM projeto.base_dados \
                WHERE FLUXO = "EXP" \
                GROUP BY CO_ANO, CO_MES, CO_PAIS) as T) as M \
                WHERE CO_PAIS IN (249,160,63)'
        


        if (print_query): print(sql)

        if (execute_query):
            db_cursor.execute(sql)
            table_rows = db_cursor.fetchall()
            df = pd.DataFrame(table_rows)
            print(df)

 
        connection.close()
        db_cursor.close()
            
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        db_cursor.close()
        connection.close()
        print("MySQL connection is closed")

end = time.time()
print(">>>execution time: " + str(end - start) )

starting select
SELECT *,                 VL_FOB/EXP_TOTAL AS PART                 FROM (SELECT *,                 SUM(VL_FOB) OVER(PARTITION BY CO_ANO, CO_MES) AS EXP_TOTAL                 FROM (SELECT CO_ANO, CO_MES, CO_PAIS,                  SUM(VL_FOB) AS VL_FOB                 FROM projeto.base_dados                 WHERE FLUXO = "EXP"                 GROUP BY CO_ANO, CO_MES, CO_PAIS) as T) as M                 WHERE CO_PAIS IN (249,160,63)
        0  1    2             3             4         5
0    1997  1  249  7.691414e+08  3.547688e+09  0.216801
1    1997  1   63  4.057736e+08  3.547688e+09  0.114377
2    1997  1  160  4.969306e+07  3.547688e+09  0.014007
3    1997  2   63  4.137612e+08  3.073646e+09  0.134616
4    1997  2  249  6.775056e+08  3.073646e+09  0.220424
..    ... ..  ...           ...           ...       ...
850  2020  8  160  6.145150e+09  1.729657e+10  0.355281
851  2020  8  249  1.663111e+09  1.729657e+10  0.096153
852  2020  9  160  6.073286e+09  1.787504e+10  0.339764
853  2020  9   63  8.167417e+08  1.787504e+10  0.045692
854  2020  9  249  1.631061e+09  1.787504e+10  0.091248

[855 rows x 6 columns]
>>>execution time: 174.1184003353119